# Grundläggande datahantering
pandas
numpy
openpyxl
xlsxwriter
pyarrow

# Modellpaket
pulp

# Visualisering och dashboard
matplotlib
streamlit==1.52.2
streamlit-folium
folium
plotly

# Geodata
geopandas
libpysal
shapely

# Annat
pyyaml

# Firebase Authentication
Pyrebase4>=4.7.1
firebase-admin>=6.5.0
requests>=2.31.0
setuptools>=67.0.0
toml>=0.10.2
