# Grundläggande datahantering
pandas
numpy
openpyxl
xlsxwriter
pyarrow

# Modellpaket
pystoned @ git+https://github.com/ds2010/pyStoNED
pulp

# Visualisering och dashboard
matplotlib
streamlit
streamlit-folium
folium
plotly

# Geodata
geopandas
libpysal
shapely

# Annat
pyyaml
